<h1>BURGER TOWN</h1>

<div id="not-devoured">
    <h2>Burgers to be devoured!</h2>

    <ul id="not-eaten-list">
        {{#each burgers}}
        {{#unless devoured}}
        <li class="not-eaten">
            <h3>{{burger_name}}</h3>
            <button class=" button eat" id="{{id}}">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                DEVOUR!</button>
        </li>
        {{/unless}}
        {{/each}}
    </ul>
</div>

<div id="devoured">
    <h2>Burgers already devoured!</h2>

    <ul id="eaten-list">
        {{#each burgers}}
        {{#if devoured}}
        <li class="eaten">
            <h3>{{burger_name}}</h3>
        </li>
        {{/if}}
        {{/each}}
    </ul>
</div>

<div id="form">
    <img id="burgers" src="images/Burgers.jpg">
    <h2>Add a Burger</h2>
    <form class="create-form">

        <div class="form-group">
            <label for="food">Burger:</label>
            <input type="text" id="burger" name="burger_name">
        </div>

        <button class="button" type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Add Burger</button>
    </form>
</div>